# Configura aquí tus credenciales (Copia este archivo a .env)
BOUNCER_USER=admin
BOUNCER_PASS=tu_clave_secreta
ADMIN_DOMAIN=auth.tudominio.com

# Genera un secreto base32 (ej: JBSWY3DPEHPK3PXP)
BOUNCER_TOTP_SECRET=TU_SECRETO_AQUÍ
