# Binarios de Go
REGIO
regio
main
seed

# Bases de datos runtime
*.db
data/

# Configuración sensible y local (¡NUNCA SUBIR!)
.env
config.json

# Docker y logs
*.log
.docker/

# Archivos de sistema y temporales
.DS_Store
dist/
bin/

# IDE
.vscode/
.idea/
