<!doctype html>
<html>
  <head>
    <title>Instalación - reGiO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/static/reGiO.svg" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body class="flex-center">
    <div class="setup-box">
      <h2>
        <img
          src="/static/reGiO.svg"
          alt="logo"
          style="height: 32px; vertical-align: middle; margin-right: 10px; margin-top: -4px; filter: invert(1)"
        />Bienvenido a reGiO
      </h2>
      <p>Crea tu cuenta de administrador.</p>
      <form method="POST">
        <input type="text" name="user" placeholder="Nombre de usuario" required autofocus />
        <input type="password" name="pass" placeholder="Contraseña segura" required />
        <button type="submit" class="btn-success">Finalizar Instalación</button>
      </form>
    </div>
  </body>
</html>
